{% extends "base.html" %}

{% block content %}
  <div style="text-align: center;">
    <h1>
      {{ newspaper.title }}
      {% if user.is_authenticated %}
        <a href="{% url 'bureau:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
          Delete
        </a>

        <a href="{% url 'bureau:newspaper-update' pk=newspaper.id %}" class="btn btn-secondary link-to-page">
          Update
        </a>

        <a href="{% url 'bureau:newspaper-create' %}" class="btn btn-primary link-to-page">
          Create
        </a>
      {% endif %}
    </h1>
    <p style="font-size: 18px;">{{ newspaper.content }}</p>

    <p style="font-size: 14px;">Published: {{ newspaper.published_year|date:"F j, Y" }}</p>
    <h2>
      Redactors:
      {% if user.is_authenticated %}
        {% if newspaper in user.newspapers.all %}
          <a href="{% url 'bureau:toggle-newspaper-assign' pk=newspaper.id %}" class="btn btn-danger link-to-page">
            Delete me from this newspaper
          </a>
        {% else %}
          <a href="{% url 'bureau:toggle-newspaper-assign' pk=newspaper.id %}" class="btn btn-success link-to-page">
            Assign me from this newspaper
          </a>
        {% endif %}
      {% endif %}
    </h2>
    <hr>
    <ul>
      {% for redactor in newspaper.redactors.all %}
        <p>{{ redactor.username }} ({{ redactor.first_name|cut:"." }} {{ redactor.last_name }})</p>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
