nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

#nav-center {
  display: flex;
  align-items: center;
}

.nav-separator {
  margin: 0 10px; /* Adjust the margin as needed for spacing */
  color: #555;    /* Adjust the color as needed */
}

#nav a {
    text-decoration: none;
    color: #333; /* цвет текста */
}

#nav div {
    display: flex;
}

#nav span {
    margin-right: 10px;
}

.gray-btn {
  background-color: rgb(128, 128, 128);
  color: white;
}
