body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

#nav-center {
    display: flex;
    align-items: center;
}

.nav-separator {
    margin: 0 10px;
    color: #555;
}

#nav a {
    text-decoration: none;
    color: #333;
}

#nav div {
    display: flex;
}

#nav span {
    margin-right: 10px;
}

.gray-btn {
    background-color: rgb(128, 128, 128);
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f0f0f0;
    padding: -10px;
    margin-top: auto;
}